.header {
  width: 100%;
  padding: 16px 0;
  background-color: #343a40;
  border-bottom: 1px solid #495057;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  transition: color 0.2s ease;
}

.logo:hover {
  color: #adb5bd;
}

/* .navigation {
} */

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

/* .navigationItem {
} */

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.link:hover {
  color: #adb5bd;
}
