html,
body {
  height: 100%; /* Гарантуємо, що html і body займають всю висоту вікна */
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-roboto), sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  /* Видаляємо Flexbox-стилі з body, оскільки вони переміщені на .app-layout-container */
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
}

/* Новий клас для обгортаючого div у layout.tsx */
.app-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Забезпечує, що контейнер займає всю висоту вікна */
}

.main-content {
  flex-grow: 1; /* Дозволяє main займати весь доступний простір, відштовхуючи футер вниз */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
